body {
    background: #fff;
}
.banner {
    height: 220px;
    display: flex;
    align-items: center;
    background-position-y: center;
    background-image: url(../images/pagetitle.jpg);
}
.banner span {
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.3em;
    display: block;
    border-left: 5px solid #00ffbd;
    padding-left: 20px;
    font-weight: bold;
}
.banner-description {
    padding: 4% 0 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.banner-description span {
    font-size: 2em;
    font-weight: bold;
}
.banner-description p {
    line-height: 1.7;
    font-size: 1.2em;
    color: #191818;
}
.banner-description p:first-of-type {
    margin-top: 15px;
}
.banner-description * {
    width: 80%;
    text-align: center;
}
.bars-preview {
    width: 83%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 55px;
}
h2 {
    font-size: 3em;
}
.bars-preview p {
    font-size: 1.1em;
}
.box-parrent {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bars-preview .box {
    border-radius: 10px;
    padding: 1.5%;
    background-color: #f2f2f2f0;
    height: 640px;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: all .7s;
}
.box:nth-child(even) {
    flex-direction: row-reverse;
}
.box:hover {
    box-shadow: 0 0 9px 1px #9d9a9a;
}
.bars-preview .box * {
    text-align: left;
}
.bars-preview .box-stars {
    width: 100%;
    margin: 0 auto;
}
.box-parrent .box p {
    margin: 10px 0;
    font-weight: 300;
    line-height: 25px;
}
.box-parrent .box .working-hours {
    margin-top: 0;
}
.box-parrent .box p:first-of-type {
    margin-bottom: 0;
}
.box-stars {
    color: transparent;
}
.box-stars span {
    display: inline;
    width: auto;
    color: transparent;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff9e00;
}
.box-stars .checked {
    color: #ff9e00;
    -webkit-text-fill-color: #ff9e00;
}
.box-img {
    background-image: url(../images/hotel11.jpg);
    width: 45%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.box:nth-of-type(2) .box-img {
    background-image: url(../images/hotel12.jpg);
}
.box:nth-of-type(3) .box-img {
    background-image: url(../images/hotel13.jpg);
}
.box:nth-of-type(4) .box-img {
    background-image: url(../images/hotel14.jpg);
}
.box:nth-of-type(5) .box-img {
    background-image: url(../images/hotel15.jpg);
}
.bars-preview .text-wrapper {
    width: 55%;
    padding: 0 2%;
    position: relative;
    bottom: 12px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.text-wrapper h3, .text-wrapper p {
    width: 100%;
}
.text-wrapper .box-stars p {
    width: fit-content;
}
.bars-preview .box i {
    display: inline;
    padding: 3px;
    color: #20caac;
}
.box-btn {
    display: inline-block;
    background: #20caac;
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: bolder;
    padding-bottom: 16px;
    cursor: pointer;
    background: linear-gradient(#20caac, #20caac 50%, #1e0505 50%, #1e0505);
    background-size: 100% 200%;
    transition: background .3s;
}
.box-btn:hover {
    background-position: 100% 100%;
}
.box-title {
    font-size: 1.8em;
    font-weight: 600;
}
.working-hours b {
    font-weight: 600;
}
.bars-preview .box {
    min-height: 700px;
    height: auto;
    width: 98%;
}
.box-stars-small-screen, .btn-bet-now-small-screen {
    display: none;
}

@media only screen and (max-width: 1200px){
    .box-img {
        width: 100%;
        height: 300px;
        background-size: cover;
    }
    .bars-preview .box {
        height: auto;
        width: 85%;
    }
    .bars-preview .text-wrapper {
        width: 100%;
        position: static;
        font-size: 0.85em;
        display: block;
    }
    .bars-preview .box * {
        text-align: center;
    }
    .box:nth-child(even) {
        flex-direction: row;
    }
    .box-title {
        font-size: 1.3em;
        margin-top: 15px;
    }
}

@media only screen and (max-width:768px){
    .bars-preview {
        width: 100%;
    }
    .bars-preview .box {
        width: 93%;
    }
    .banner {
        height: 220px;
    }
    .banner span {
        font-size: 2.5em;
    }
    .banner-description p {
        font-size: 1.05em;
    }
    .banner-description * {
        width: 91%;
    }
    .bars-preview .box * {
        text-align: center;
    }
}

@media only screen and (max-width: 700px){
    .banner {
        height: 150px;
    }
    .banner span {
        font-size: 1.7em;
        width: 91%;
    }
}

@media only screen and (max-width: 425px){
    .banner {
        height: 150px;
    }
    .banner span {
        font-size: 1.3em;
    }
    .banner-description {
        padding: 7% 0;
    }
    .banner-description span {
        font-size: 1.8em;
    }
    .banner-description p {
        font-size: .96em;
    }
}
