body {
    background-color: #fff;
}
.banner {
    height: 220px;
    display: flex;
    align-items: center;
    background-position-y: center;
    background-image: url(../images/pagetitle.jpg);
}
.banner span {
    width: 85%;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    display: block;
    border-left: 5px solid #00ffbd;
    padding-left: 25px;
    font-weight: bold;
}

.wrapper {
    width: 85%;
    margin: 50px auto;
}
.wrapper * {
    margin: 20px 0;
}
.wrapper h3 {
    font-size: 1.6em;
    font-weight: 700;
}
.wrapper p {
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1.5em;;
}
.para-list::before {
    content: "\2022";
    font-size: 1.3em;
    padding: 0 5px;
}
.wrapper a {
    color: rgb(9, 215, 71);
    word-break: break-word;
}

@media only screen and (max-width:768px){
    .wrapper {
        width: 95%;
        margin: 30px auto;
      }
      .wrapper p {
        font-weight: 100;
        line-height: 1.3em;;
      }
    .bars-preview {
        width: 100%;
    }
    .bars-preview .box {
        width: 93%;
    }
    .banner {
        height: 220px;
    }
    .banner span {
        font-size: 2.5em;
        font-size: 1.7em;
        width: 93%;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 700px){
    .banner {
        height: 150px;
    }
}

@media only screen and (max-width: 425px){
    .banner {
        height: 150px;
    }
    .banner span {
        font-size: 1.3em;
    }
}